table{
    border-collapse: collapse;
    width: 70%;
    font-size: 18px;
    text-align: center;
    border-color: green;
}
tr{
    height: 40px;
}
.dong1{
    background-color: rgb(20, 206, 20);
    color: white;
    font-weight: bold;
    font-size: 22px;
}